*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
.wrapper{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
}
.logo-nav{
    display: flex;
    align-items: center;
    gap: 42px;
    margin-left: 40px;
}
.logo-nav a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
.languges-user-shopping .languges{
    display: flex;
    align-items: center;
}
.languges-user-shopping{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 100px;
}
.header{
    margin-bottom: 100px;
}
.header-image img{
    width: 100%;
    height: 824px;
    margin-top: 20px;
}
.img-description{
    position: absolute;
    top: 400px;
    left: 200px;
}
.img-description p{
    color: white;
}
.img-description span{
    color: white;
    font-size: 80px;
    margin-top: 20px;
    opacity: 0.8;
}
.bike-plan{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 100px;
}
.bike-plan-description{
    margin-left: 100px;
}
.bike-plan-description span{
    font-size: 70px;
}
.bike-plan-description p{
    opacity: 0.5;
}
.bike-plan-img img{
    width: 635px;
    height: 636px;
    margin-right: 200px;
}
.service-insurance{
    position: relative;
    margin-bottom: 100px;
}
.service-insurance-img img{
    width: 100%;
    height: 810px;
    position: relative;
}
.service-insurance-description{
    position: absolute;
    top: 240px;
    left: 160px;
}
.service-insurance-description span{
    font-size: 70px;
    color: white;
}
.service-insurance-description p{
    opacity: 0.6;
    color: white;
}
.bike-free{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 100px;
}
.bike-free-img img{
    width: 636px;
    height: 636px;
}
.bike-free-description{
    margin-left: 300px;
}
.bike-free-description span{
    font-size: 70px;
}
.bike-free-description p{
    opacity: 0.5;
}
.how-it-work{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 100px;
}
.how-it-work-description{
    margin-left: 150px;
    margin-right: 400px;
}
.how-it-work-description span{
    font-size: 70px;
}
.how-it-work-img img{
    width: 635px;
    height: 810px;
}
.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    padding-top: 40px;
}
.description span{
    font-size: 25px;
}
.description p{
    opacity: 0.5;
}
.main-product{
  border: 1px solid black;
  width: 640px;
  height: 695px;
  margin-left: 70px;
  position: relative;
  margin-bottom: 50px;
  border-radius: 4px;
  background-color: rgba(235, 237, 238, 1);
  display: flex!important;
}
.product-img img{
    width: 570px;
    height: 500px;
    padding-left: 70px;
    padding-top: 70px;
}
.button-pay{
    position: absolute;
    top: 550px;
    left: 250px;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(243, 182, 89);
    height: 50px;
    width: 150px;
    padding-top: 10px;
    padding-left: 35px;
}
btn-pay button a{
    text-decoration: none;
    color: black;
}
.bike-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    position: absolute;
    top: 0px;
    left: 30px;
}
.bike-title span{
    font-size: 40px;
}
.bike-title p{
    font-size:60px;
    opacity: 0.5;
}
.title-small{
    position: absolute;
    top: 30px;
    left: 230px;
    opacity: 0.5;
}
.product-title{
    position: absolute;
    top: 80px;
    left: 30px;
    font-size: 20px;
}
.color-button{
    position: absolute;
    top: 650px;
    left: 250px;
    display: flex;
    gap: 20px;
}
.color-button button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
}
.get-in-touch{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 100px;
}
.get-in-touch p{
    font-size: 70px;
    margin-bottom: 50px;
    margin-top: 250px;
}
.form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form input{
    width: 940px;
    height: 57px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 20px;
}
.form textarea{
    width: 940px;
    height: 200px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 20px;
    padding-top: 20px;
}
.form button{
    width: 940px;
    height: 57px;
    background-color: rgba(20, 22, 21, 1);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
}
.question-title{
    border-bottom: 0.1px solid black;
    padding-bottom: 40px;
}
.title-chevon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.title-chevon span{
    font-size: 30px;
    opacity: 0.8;
}
.question-title p{
    font-size: 20px;
    opacity: 0.5;
}
.question h1{
    font-size: 70px;
    margin-bottom: 50px;
    margin-top: 100px;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.retires{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 0.1px solid black;
    padding-bottom: 40px;
}
.retires span{
    font-size: 30px;
}
.veloretti{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 0.1px solid black;
    padding-bottom: 40px; 
}
.veloretti1{
    margin-bottom: 100px;
}
.veloretti span{
    font-size: 30px;
}
.test-bikes{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 145px;
    background-color: rgb(62, 60, 60);
    line-height: 20px;
}
.test-bikes p{
    color: white;
    font-size: 16px;
}
.test-bikes button{
    width: 200px;
    height: 57px;
    background-color:white;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 50px;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color:black;
    padding: 20px;
}
.footer a{
    text-decoration: none;
    color: white;
    opacity: 0.5;
}
footer h3{
    color: white;
}
.explorer,
.about,
.help,
.join-the-ride{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.join-the-ride{
    color: white;
}
.join-the-ride a{
    color: white;
    opacity: 0.5;
}
.join-the-ride input{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: none;
    width: 200px;
}
.join-the-ride button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.product {
    display: flex;
    gap: 50px;
    margin-left: 40px;
  }
  
  .product-left,
  .product-right {
    width: 655px; /* Độ rộng mong muốn */
    height: 715px; /* Chiều cao mong muốn */
    background-color: gray;
    border-radius: 10px;
  }