.image-container {
    position: relative;
    display: inline-block;
}

.discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}