.Description{
    opacity:0.3;
}
.CheckOut-Description{
    margin-top: 80px;
    padding-bottom: 80px;
}
.CheckOut-Title{
    font-size: 36px;
    padding-bottom: 36px;
}

.CheckOut-Input{
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.username{
    opacity: 0.3;
    padding-bottom: 8px;
}
#username{
    width: 470px;
    height: 50px;
    border-radius: 4px;
    background: rgba(245, 245, 245, 1);
    border: none;
}


.CheckOut-Checkbox input[type="checkbox"] {
    display: none;
}

.CheckOut-Checkbox input[type="checkbox"] + label {
    position: relative;
    padding-left: 40px; /* Khoảng cách giữa hộp checkbox và chữ */
    cursor: pointer;
}

.CheckOut-Checkbox input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px; 
    border: 2px solid #000;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.CheckOut-Checkbox input[type="checkbox"]:checked + label:before {
    background-color: red; /* Màu nền khi được chọn */
    border-color: red; /* Màu viền khi được chọn */
}

.CheckOut-Checkbox input[type="checkbox"]:checked + label:after {
   content: "";
    position: absolute;
    left: 5px;
    top: 8px;
    width: 14px;
    height: 7px;
    border-style: solid;
    border-width: 0 0 2px 2px;
    border-color: white;
    transform: rotate(315deg);
}
.CheckOut-Product-Pay{
    width: 527px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.Monitor{
    display: flex;
    gap: 24px;
    align-items: center;
}
.CheckOut-Monitor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 422px;
}
.CheckOut-Input-Pay{
    display: flex;
    gap: 173px;
}
#CheckOut-Total{
    width: 422px;
    height: 136px;
    border: none;
}
.CheckOut-Delivery{
    width: 422px;
    display: flex;
    gap: 32px;
    flex-direction: column;
}
.Delivery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Bank{
    display: flex;
    gap: 8px;
}
.round-checkbox{
    width: 24px;
    height: 24px;
}
