.wrapper{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.login {
    max-width: 100%;
    margin: 50px ;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login h1 {
  text-align: center;
  font-size:50px;
  margin-bottom: 20px;
}
.login input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;

}
.login button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #0056b3;
}

.login .login-btn {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.login .register {
  margin-left: 5px;
  color: #007bff;
  text-decoration: none;
}

.login .register:hover {
  text-decoration: underline;
}
