



.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-item-count {
  position: absolute;/*ghi đè lên phần tử cha*/
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 12px;
}
.account-icon{
    color: black;
    background-color:white; 
    border-radius: 50%; 
    padding: 8px; 
}
.account-icon:hover{
    color: white;
    background-color:red; 
    border-radius: 50%; 
    padding: 8px; 

}
.Account-Login {
  display: flex;
  flex-direction: column;
  gap: 13px;
  background-color: #0000000A;
}

.Account-Login  div {
  display: flex;
  align-items: center;
}
.Account-Login img {
  width: 32px; 
  height: 32px; 
}


.Account-Login span {
  font-size: 14px; 
}

.Account-icon{
  position: relative;
  transition: all 0.7s linear;
}
.Account-icon i{
  cursor: pointer;
}

.Account-Login{
  position: absolute;
  color:white;
    top: 40px;
    right: 0;
    width: 300px;
    display: none;
    background-color:rgba(0, 0, 0, 0.827);
  /* top - left - right - bottom */
}

.Account-icon:hover .Account-Login{
  display: block;
}
.Wishlist{
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Wishlist-Btn{
    width: 223px;
    height: 56px;
    border: 1px solid #000;
    border-radius: 4px;
}
.Span{
    font-size: 20px;
}
.Wishlist-Product{
    display: flex;
}


.add-to-cart {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    background-color: black;
    padding: 10px 20px;
    /* border-radius: 5px; */
    transition: top 0.3s ease, opacity 0.3s ease;
    width: 100%;
    text-align: center;
}

.image-container:hover .add-to-cart {
    top: 85%; /* Đẩy phần add-to-cart lên trên */
    opacity: 1;
}

.add-text {
    color: white; /* Màu chữ */
    font-size: 12px;
}

.add-to-cart img {
    width: 100%;
}
.shopping-cart{
  color: white;
}
.JustForYou{
  display: flex;
  padding-bottom: 140px;
}
