.ProductDetails{
    display: flex;
    flex-direction: row;
    gap: 71px;
}
.Main-Product{
    display: flex;
    gap: 30px;
}
.ProductDetails-Product-Details{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rating {
    position: relative;
}

.vertical-line {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #000;
    left: 225px;
    top: 0;
}

.stock {
    position: absolute;
    right: 110px;
    top: 2px;
    font-size: 14px;
    color: rgba(0, 255, 102, 1);
}
.Title-Couting-Price{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.ProductDetails-Price{
    font-size: 24px;
}
.ProductDetails-Title{
    font-size: 24px;
}


.color-buttons {
    display: flex;
}

.color-button {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 50%; 
}
#color-button1 {
    background-color:rgba(160, 188, 224, 1);
}

#color-button2 {
    background-color:rgba(224, 117, 117, 1);
}
.Description-Color-Size{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.Color{
    display: flex;
    gap: 24px;
}
.Size{
    display: flex;
    gap: 24px;
    align-items: center;
}
.Font-Size{
    display: flex;
    gap: 16px;
}
.Font-Size button{
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 4px;
}

.count-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 159px;
    height: 44px;
    border: 1px solid #000;
    border-radius: 4px;
}

.subtract-button,
.add-button {
    width: 41px;
    height: 44px; 
    border-radius: 4px;
}
.subtract-button{
    border-right:1px solid #000 ;
}
.add-button{
    border-left:1px solid #000 ;
}

.count {
    text-align: center;
}
.Color-Size-Quantity{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.Button button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    width: 165px;
    height: 44px;
    border-radius: 4px;
}

.Button button:hover {
    background-color: red;
    color: white;
}
.Quantity-Img{
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
}
.Quantity{
    display: flex;
    justify-content: space-between;
}
.ProductDetails-Delivery{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 399px;
    height: 180px;
    border: 1px solid #000;
    padding: 16px;
    gap: 16px;
    border-radius: 4px;
}
.Free-Delivery{
    display: flex;
    gap: 33px;
}
.Delivery-Title{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Related-Item{
    margin-top: 140px;
    margin-bottom: 140px;
}
.Related-Item-Img{
    margin-bottom: 60px;
}
.Related-Title{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 60px;
}
.Related-Title p{
    color: rgba(219, 68, 68, 1);
}