.Error{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Error-Number{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.Error-Number h1{
    font-size: 110px;
}
.Error-Btn{
    margin-top: 80px;
    margin-bottom: 140px;
    width: 254px;
    height: 56px;
    border: 1px solid black;
    padding: 16px 45px;
    border-radius: 4px;
}
.Error-Btn:hover{
    background-color: rgba(219, 68, 68, 1);
    color: white;
}