.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header-navbar__logo {
    background-color: #8DD3BB;
    width: 255px;
    height: 130px;
    border-radius: 0 0 50px 50px;
    text-align: center;
    margin-left: 4%;
}

.logo-main {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 44px;
    margin-top: 24px;
    margin-bottom: 0;
    padding-left: 8px;
    letter-spacing: 4px;
}

.logo-title {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 16px;
    margin-block: 4px;
    padding-left: 8px;
    letter-spacing: 12px;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-item {
    list-style-type: none;
}

.auth-login:hover {
    cursor: pointer;
    color: #FFF !important;
    background-color: #8DD3BB;
    opacity: 0.8;
    transition: 0.3s;
    border-color: #FFF;
}

.auth-signup:hover {
    cursor: pointer;
    color: #FFF !important;
    background-color: #8DD3BB;
    opacity: 0.8;
    transition: 0.3s;
    border-color: #FFF;
}