body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(./hinh/background.png);
    background-repeat: no-repeat;
    background-color: black;
    height: 50vh;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 700px;
}
.header-img{
    padding: 50px;
}
a{
    color: white;
    margin: 10px;
    text-decoration: none;
    padding: 30px;
}
.header-a{
    display: flex;
}
.img-product{
    margin-left: 300px;
}
.title-product{
    text-align: center;
    font-size: 60px;
    color: white;
}
.content{
    text-align: center;
    color: #FFDBBB;
}
.container{
    display: grid;
    place-items: center;
}
.btn{
    border: 2px solid black;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: #FFDBBB;
    margin-top: 10px;

}




