.wrapper{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
 #formRegistration {
        display: flex;
        gap: 20px;
      }

      .flex-p-a {
        display: flex;
      }

      .input-height {
        height: 30px;
        border: 1px solid rgb(149, 145, 145);
        border-radius: 4px;
      }

      #btn {
        height: 35px;
        color: white;
        border: none;
        border-radius: 4px;
        background-color: rgb(53, 53, 237);
        cursor: pointer;
      }

      .magin-link {
        margin-top: 15px;
        margin-left: 5px;
        text-decoration: none;
      }

      .accept-color {
        color: rgb(160, 141, 141);
      }
      #error-name {
        display: none;
        color: red;
        margin: -10px;
        margin-left: 3px;
      }
      #error-email {
        display: none;
        color: red;
        margin: -10px;
        margin-left: 3px;
      }
      #error-password {
        display: none;
        color: red;
        margin: -10px;
        margin-left: 3px;
      }
      #error-confirm-password {
        display: none;
        color: red;
        margin: -10px;
        margin-left: 3px;
      }
      #error-checkbox {
        display: none;
        color: red;
        margin: -10px;
        margin-left: 3px;
      }