.wrapper{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.register {
    max-width: 100%;
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.register h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.register form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register form input {
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.register form button {
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.register form button:hover {
    background-color: #0056b3;
}
.btn-login{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.btn-login a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;

}
.register-btn input{
    width: 50px !important;;
}
