
.pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pay-title {
    margin-bottom: 20px;
}

.pay-title h1 {
    font-size: 24px;
    color: #333;
}

.pay-content-left h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}
.order-summary-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.order-summary-item-content h3 {
    font-size: 18px;
    color: #333;
}

.pay-content-right {
    flex: 1;
    margin-left: 20px;
}

.pay-content-right h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.payment {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

.payment-method-item {
    margin-bottom: 10px;
}

.payment-method-item label {
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.credit-card,
.paypal,
.ideal {
    display: none;
    margin-top: 15px;
}

.credit-card-content,
.paypal-content,
.ideal-content {
    margin-top: 10px;
}

.credit-card-date input {
    width: 45%;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}










.pay {
    margin: 50px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pay-title h1 {
    font-size: 28px;
    color: #333;
}

.pay-content {
    display: flex;
    justify-content: space-between;
}

.pay-content-left {
    width: 50%;
}

.pay-content-left table {
    width: 100%;
    border-collapse: collapse;
}

.pay-content-left table thead {
    background-color: #333;
    color: #fff;
}

.pay-content-left table th,
.pay-content-left table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.pay-content-right-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}
.pay-content-right-form button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pay-content-right-form button:hover {
    background-color: #555;
}



