.Contact-Description{
    width: 340px;
    height: 457px;
    border: 4px;
    box-shadow: rgba(0, 0, 0, 0.05);
}
.Contact-Phone-Mail{
    Width:340px;
    Height:457px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.Contact-Gene{
    display: flex;
    flex: row;
    padding-bottom: 140px;
    gap: 30px;
}
.Write-To-Us{
    Width:290px;
    Height: 180px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.Icon-Title{
    display: flex;
    align-items: center;
    gap: 8px;
}
.Call-To-Us{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 262px;
    height: 122px;
}
.Description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.Your-Name {
    position: relative;
    margin-bottom: 10px;
}
.Your-Name input {
    width: 235px;
    height: 50px;
}
.required-mark-name {
    position: absolute;
    color: red;
    left: 80px;
    top: 15px;
}

.Your-Mail{
    position: relative;
    margin-bottom: 10px;
}
.Your-Mail input{
    width: 235px;
    height: 50px;
}
.required-mark-email{
    position: absolute;
    color: red;
    left: 67px;
    top: 14px;
}

.Your-Phone{
    position: relative;
    margin-bottom: 10px;
}
.Your-Phone input{
    width: 235px;
    height: 50px;
}
.required-mark-phone{
    position: absolute;
    color: red;
    left: 80px;
    top: 14px;
}
#Information{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.Your-Massage input{
    width: 737px;
    height: 207px;
}
.Send-Message{
    width: 215px;
    height: 56px;
    border: 1px solid black;
    padding: 16px 47px;
    border-radius: 4px;
    margin-left: 520px;

}
.Send-Message:hover{
    background-color: rgba(219, 68, 68, 1);
    color: white;
}
.Contact-Information{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 457px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05)
}