.header-cities-img{
    position: relative;
}
.header-cities {
    position: absolute;
    top: 0px;
    left: 150px;
}
.header-cities h1,
.header-cities a,
.header-cities span,
.header-cities img {
    color: white;
}
.header-cities img {
    filter: invert(100%);
}
.cities-electric a{
    color: rgb(202, 196, 196);
}
.cities-city a{
    color: rgb(202, 196, 196);
}
.cities-kids a{
    color: rgb(202, 196, 196);
}
.cities-leasing a{
    color: rgb(202, 196, 196);
}
.nav-cities{
  display: flex;
}
.forever-forward {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 500px;
}
.forever-forward h1 {
  font-size: 120px;
}
.forever-forward-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 340px;
  margin-top: 50px;
}
.forever-forward-description {
  position: absolute;
  bottom: -200px;
  right: 500px;
}
.forever-forward-description p {
  width: 350px;
  height: 300px;
  font-size: 25px;
  padding: 20px 30px 40px 30px;
  border-radius: 10px;
  background-color: white;
  border-style: solid;
  border-width: 1px; 
  border-color: rgb(248, 241, 241); 
}
.bikes-for-everyone {
  position: relative;
  height: 1175px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city-bikes-title h1 {
  font-size: 120px;
  height: 350px;
  background-color: white;
  position: absolute;
  top: 1080px;
  left: 370px;
}
.city-bikes-title p{
    font-size: 120px;
    position: absolute;
    top: 1200px;
    left: 500px;
}
.city-bikes {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.city-bikes-center {
  width: 465px;
  height: 482px;
  padding-top: 50px;
  padding-left: 100px; 
  border-radius: 10px;
  border-style: solid;
  border-width: 1px; 
  border-color: rgb(248, 241, 241); 
}
.city-bikes p {
  font-size: 22px;
  opacity: 0.5;
  font-weight: 100 !important;
}
.city-bikes-img img {
  position: absolute;
  top: 580px;
  left: 390px;
}
.ceferacer,
.berlin,
.robyn{
  width: 510px;
  height: 681px;
  flex: 0 0 auto;
  margin-right: 20px; 
  scroll-snap-align: start;
}
.price-title{
  display: flex;
  justify-content: space-between;
}
.cities-overview{
  height: 761px;
}
.cities-overview {
  background-color:gray;
  padding: 80px;
}

.cities-product {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 20px;
}
.ceferacer,
.berlin,
.robyn p{
  color: white;
}
.ceferacer span{
  opacity: 0.5;
}
.berlin span{
  opacity: 0.5;
}
.robyn span{
  opacity: 0.5;
}