#nav-shoping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  width: 1440px;
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}
.nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.shoping {
  display: flex;
  align-items: center;
  padding-right: 40px;
}
.shoping p {
  position: relative;
  color: white;
  font-size: 20px;
}
.shoping button{
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
}
.shoping span {
  position: absolute;
  top: 10px;
  right: 170px;
  background-color: red;
  color: white;
  padding: 0px 5px 0px 5px;
  border-radius: 50%;
}

#products {
  width: 1650px;
  margin: 0 auto;
}
#products h1 {
  text-align: center;
}
.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.product {
  width: 311px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px white solid;
  background-color: rgb(227, 232, 236);
  border-radius: 10px;
}
.product span {
  font-weight: bold;
  font-size: 20px;
}

.product button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.product button:hover {
  background-color: darkblue;
}
.cart-items-container {
  position: absolute;
  top: 72px;
  right: 130px;
  width: 550px;
  background-color: black;
  border-radius: 10px;
}
.cart-items-container span{
  color: white;
  text-align: center;
  padding: 20px ;
}
.cart-items-container h2 {
  color: white;
  padding: 10px;
  border-bottom: 1px white solid;
  width: 480px;
  margin-left: 20px;
}

.cart-items-container p{
 color: white;
  padding: 10px;
  border-top: 1px white solid;
  width: 480px;
  margin-left: 20px;
}
.cart-item p {
  color: white;
  padding: 10px 20px;
}
.cart-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}
.quantity-controls span {
  color: white;
  padding: 10px 20px;
}

.product {
  position: relative;
  overflow: hidden;
}

.product img {
  width: 250px !important;
  height: 250px !important;
  height: auto;
  transition: transform 0.3s ease;
  padding-bottom: 20px;
}

.product:hover img {
  transform: scale(1.1);
}

.product button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product button:hover {
  background-color: #0056b3;
}
.product span,
.product p {
  animation: fadeIn 0.5s ease-in-out;
}
.trash-icon{
  color: white;
  cursor: pointer;
  margin-left: 20px;
}
.quantity-trash{
  display: flex;
  justify-content: space-between;
  align-items: center;
}