
.information-search{
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
} 
.form-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid #000;
    width: 500px;
    padding: 0 60px;
}
.form-information input[type="text"],input[type="email"],input[type="number"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;    
    width: 250px;
}
.field-group{
    display: flex;
    gap:20px;
}
.typesex{
    display: flex;
    
}
#form button{
    width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 20px;
} 
.username{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.name-title-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.your-mail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.email-title-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
}
.phonenumber{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.phone-title-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.youraddress{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.address-title-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}
.typesex label{
    margin-right: 50px;
}
.listStudent{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.search{
    margin-right: 300px;
}
.listStudent table{
    width: 100%;
    border: 1px solid #ccc;
}
.listStudent table tr th{
    border: 1px solid #ccc;
}
.listStudent table tr td{
    border: 1px solid #ccc;
}
.input-error{
    display: flex;
    flex-direction: column;
}
.name-error{
    display: flex;
    flex-direction: column;
}