.nav-overview{
    display: flex;
    margin-right: 400px;
}
.header-overview-img video{
    width: 100%;
    height: 100%;
    position: relative;
}
.header-overview{
    position: absolute;
    top: 0px;
    left: 150px; 
}
.header-overview .logo-nav a img,
.header-overview .languges-user-shopping a img {
    filter: brightness(0) invert(1);
}

.header-overview .languges span,
.header-overview .overview-title,
.header-overview a {
    color: white;
}

.overview-title{
    position: absolute;
    top: 35%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.overview-title span{
    font-size: 20px;
    color: #fff;
}
.overview-title p{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}
