*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  width: 1170px;
  margin: auto;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

#top-header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 30px;
  align-items: center;
  /* top right bottom left */
}
.header {
  padding-right: 269px;
}
.top {
  margin: auto;
  color: aliceblue;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.top span {
  /* font-weight: độ đậm nhạt của chữ - >500 chữ đậm, <500 chữ nhạt */
  font-weight: 400;
  color: #fafafa;
  font-size: 14px;
}
.Sale {
  color: white;
  text-decoration: underline;
}
#languages {
  border: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  width: 78px;
}

#menu {
  display: flex;
  padding-top: 98px;
  justify-content: space-between;
  align-items: center;
}
.menu-1 {
  font-size: 24px;
  display: flex;
}
.menu-2 {
  display: flex;
  gap: 48px;
  font-size: 16px;
}
.menu-2 a {
  text-decoration: none;
  color: black;
}
.menu-3 {
  display: flex;
  align-items: baseline;
}
.menu-4-icon {
  background-color: #f5f5f5;
  padding-bottom:8px;
  padding-top:8px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
input::placeholder {
  font-size: 12px;
}
.search-input {
  background-color: #f5f5f5;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  padding: 7px 12px 7px 20px;
}
.menu-search {
  display: flex;
  align-items: center;
}
.menu-5 {
  display: flex;
  gap: 16px;
  padding-left: 24px;
  align-items: center;
}
.hr{
  margin-top: 16px;
}

#hero {
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
  line-height: 24px;
}
.asd {
  padding-bottom: 16px;
}
.hero-img{
  margin-top: 40px;
  background-color: #000;
}
#hero-img{
  background-color: #000;
  width: 892px;
  height: 344px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.hero-list {
  align-items: flex-end;
  justify-content: space-between;
  border-right: 1px solid black;
  padding-top: 40px;
}
.list {
  margin-bottom: 16px;
  padding-right: 91px;
}
.list-Woman {
  display: flex;
  justify-content: flex-end;
}
.list-Woman,
.list-Men i {
  padding-right: 16px;
}
.list-Men {
  display: flex;
  justify-content: space-between;
}

.Today-header {
  margin-top: 140px;
  padding-bottom: 63px;
}
.Sales-Time-Button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Sale-Time {
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
}

.Sales b {
  font-size: 36px;
  padding-right: 50px;
}
.countdown {
  list-style-type: none;
}

.countdown li {
  display: inline-block;
  margin-right: 20px;
  /* Khoảng cách giữa các mục */
  vertical-align: middle;
  /* Căn chỉnh theo chiều dọc */
}

.countdown li .label {
  font-size: 14px;
  color: #666;
}

.countdown li .number {
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

.countdown li .separator {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin: 0 5px;
  /* Khoảng cách giữa số và dấu hai chấm */
}
.countdown li .separator {
  font-size: 24px;
  color: pink; /* Màu của dấu hai chấm */
  font-weight: bold;
  margin: 5px; /* Khoảng cách giữa số và dấu hai chấm */
}
.Today-button {
  display: flex;
  gap: 8px;
}
.Button {
  display: inline-block;
  cursor: pointer;
}
.Today-button i {
  font-size: 24px;
  color: #333;
  /* Màu của mũi tên */
  border-radius: 50%;
  /* Tạo hình dạng hình tròn */
  background-color: #ccc;
  /* Màu nền của biểu tượng */
  padding: 10px;
  /* Kích thước của biểu tượng */
  transition: background-color 0.3s ease;
  /* Hiệu ứng chuyển đổi màu nền */
}
/* Thay đổi màu nền khi hover */
.Today-button i:hover {
  background-color: #ff0000;
  /* Màu nền của biểu tượng khi hover */
}

.Product-Sales {
  display: flex;
  gap: 20px;
}
.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}
.price {
  color: red;
}
.Price-Space {
  display: flex;
  gap: 8px;
}
.space {
  color: #000;
}
.Product-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.Product-icon i {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.space {
  text-decoration: line-through;
}
.rating {
  color: yellow;
}
.span {
  color: black;
}
.star-1 {
  color: black;
}
.product-father {
  display: flex;
  padding-left: 150px;
}
.product-1,
.product-2,
.product-3,
.product-4 {
  border-radius: 10px;
  padding-right: 20p;
  margin-right: 30px;
  width: 270px;
}
.btn {
  width: 200px;
  height: 50px;
  background-color: #ff0000;
  color: azure;
}
.btnr {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.Title-Button {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.Title-Title b {
  font-size: 36px;
}
.Title-Icon i {
  font-size: 24px;
  color: #333;
  border-radius: 50%;
  background-color: #ccc;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.Title-Icon i:hover {
  background-color: #ff0000;
}
.Category-Camera{
  background-color: red;
}




.Best-Title {
  padding-top: 50px;
  font-size: 36px;
}
.Best-btn {
  margin-top: 50px;
  width: 159px;
  height: 56px;
  background-color: red;
  color: white;
  margin-right: 150px;
}
.Best-Products {
  display: flex;
  padding-left: 150px;
  gap: 60px;
  padding-top: 70px;
}
.Product-img-5 {
  padding-bottom: 40px;
}
.Best-Img-1 {
  padding-top: 30px;
}
Best-Img-2 {
  padding-top: 40px;
}
.Img {
  display: flex;
  justify-content: space-evenly;
  padding-left: 400px;
  padding-top: 30px;
}
.Explore-header {
  padding-left: 80px;
}
.Explore-1 {
  padding-top: 50px;
}
.Explore-5 {
  padding-left: 150px;
  padding-top: 50px;
}
.Explore-Img-5 {
  padding-bottom: 40px;
}
.product-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-container {
  position: relative;
  width: 270px;
  height: 250px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Category-List {
  display: flex;
  padding-top: 60px;
  gap: 30px;
  padding-bottom: 70px;
}
.Category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border: 1px solid #0000004d;
  align-items: center;
  width: 170px;
  height: 140px;
}


.Best-Img{
  padding-top: 72px;
}
.Best-Title-Button{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 60px;
}
.Best-Button{
  display: flex;
  width: 159px;
  height:56px;
  border: 2px solid black;
  padding: 12px 46px 12px 46px;
  background-color: #DB4444;
  color: white;
  border-radius: 4px;
}
.Best-Description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-top: 16px;
}
.Category-Img{
  padding-top: 138px;
  padding-bottom: 71px;
}


.Price-Rating{
  display: flex;
  gap: 8px;
}
.Explore-Top,
.Explore-Bottom{
  padding-top: 60px;
  display: flex;
}
.Explore-Bottom-New{
  background-color: #00FF66;
}
.Price span {
  color: red;
}

.fui-radio-custom {
  display: flex;
  align-items: center;
  gap: 8px;
}
.fui-radio-custom label {
  font-size: 16px;
}
.radio-input {
  display: none;
}
.radio-input:checked + .radio-label {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #342f2f;
  background-color: #f43f5e;
}
.radio-label {
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-right: 14px;
  border-radius: 2rem;
  background-color: #DB4444;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 0 4px #DB4444;
  transition: all 0.1s linear;
}



.Arrival{
  display: flex;
  padding-bottom: 140px;
}
.Arrival-Img{
  padding-top: 140px;
  padding-bottom: 20px;
}
.Arrival-Title{
  font-size: 36px;
  padding-bottom: 60px;
}

.Arrival-PS5{
  color: #FAFAFA;
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  flex-direction: column;
}
.Arrival-PS5-Img{
  width: 570px;
  height: 600px;
  background-color: black;
}

.Arrival-Left {
  display: flex;
  align-items: flex-end; 
}
.Arrival-PS5{
  position: absolute;
  padding: 32px;
}
.Arrival-PS5 a{
  color: #FAFAFA;
}
.Arrival-PS5,
.Arrival-Attractive  h3{
  font-size: 24px;
}
.Arrival-PS5 p{
  font-size: 14px;
}

.Arrival-Right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Arrival-Attractive-Img{
    width: 570px;
    height: 284px;
    padding-left: 30px;   
}
.Arrival-Attractive{
  display: flex;
  align-items: flex-start;
  position: absolute;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  color: #FAFAFA;
}
.Arrival-Attractive a{
  color: #FAFAFA;
}
.Arrival-Attractive-Top{
  display: flex;
  align-items: flex-start;
  position: absolute;
  flex-direction: column;
  padding: 50px;
  gap: 16px;
  color: #FAFAFA;
}
.Arrival-Attractive-Top a{
  color: #FAFAFA;
}
.Arrival-Attractive-Top h3{
  font-size: 24px;
}
.Arrival-Top{
  display: flex;
  align-items: stretch;
  flex-direction: column-reverse;
}


.Arrival-Speakers{
  width: 270px;
  height: 284px;
}
.Arrival-Right-Bottom{
  display: flex;
  justify-content: space-between;
}
.Arrival-Right-Bottom-Left{
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  margin-left: 32px;
  gap: 16px;
  background-color: black;
}

.Arrival-Perfume{
  width: 270px;
  height: 284px;
}
.Arrival-Right-Bottom-Right{
  display: flex;
  
  margin-left: 32px;
  gap: 16px;
}

.Contact{
  display: flex;
  justify-content: center;
  gap: 88px;
  padding-bottom: 140px;
}
.Contact-Left,
.Contact-Center,
.Contact-Right{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Contact-Left-Img,
.Contact-Center-Img,
.Contact-Right-Img{
  padding-bottom: 24px;
}
.Contact-Left-Title,
.Contact-Center-Title,
.Contact-Right-Title{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

#Footer{
  padding-top: 80px;
  background-color: #000000;
  color: #FAFAFA;
}
.Footer{
  display: flex;
  justify-content: space-between;
  gap: 87px;
}
.Footer-Contact{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.Footer-Exclusive{
  font-size: 24px;
}
.Footer-Subscribe{
  font-size: 20px;
}
.Footer-Title{
  font-size: 16px;
}
.Footer-Mail{
  position: relative;
  display: flex;
  align-items: center;
}
.icon-input{
  height: 48px ;
  border: 2px solid #FAFAFA;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  padding: 12px 32px 12px 16px;
}
.Footer-Mail-Icon{
  position: absolute;
  transform: translateY(-50%);
  color: #f5f5f5; 
  margin-right: 30px;
  border: 2px solid #FAFAFA;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 10px;
}
.Support{
  font-size: 20px;
}
.Footer-Support{
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: flex-start;
}
.Footer-Account{
  display: flex;
  gap: 24px;
  flex-direction: column;
  white-space: nowrap;
}
.Footer-QuickLink{
  display: flex;
  gap: 24px;
  flex-direction: column;
  white-space: nowrap;
}
.Footer-Download{
  display: flex;
  gap: 24px;
  flex-direction: column;
  white-space: nowrap;
}
.Footer-Icon{
  display: flex;
  gap: 24px;
}
.QR{
  display: flex;
  gap: 8px;
}
.QR-Left{
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: space-between;
}
.footer{
  color: #F9F9F933;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 24px;
}
.Product-Description{
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
#hero-description p { 
  font-size: 48px;
  padding-bottom: 20px;
}
.Music-Experience{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 500px;
  margin-top: 138px;
  margin-bottom: 71px;
  background-color: rgba(0, 0, 0, 1);
}
.Music-Experience-Right{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 58px;
}
.Music-Experience p{
  color:rgba(71, 180, 134, 1);
}
.Music-Experience span {
  font-size: 48px;
  line-height: 1.5;
  color: white;
}
.Music-Experience-Button{
  width: 171px;
  height: 52px;
  border-radius: 4px;
  text-align: center;
  padding-top: 16px;
  border: 1px solid #000;
  background-color: #00FF66;
}
.countdown {
  display: flex;
  justify-content: space-between;
  list-style: none; 
}
#Time li{
  display: flex;
  flex-direction:column;
  justify-items: center;
}
#Time li {
  display: flex;
  flex-direction: column; /* Hiển thị các phần tử theo chiều dọc */
  align-items: center; 
  border: 1px solid #000; /* Đường viền */
  border-radius: 50%; /* Tạo hình tròn */
  width: 62px; /* Chiều rộng */
  height: 62px; /* Chiều cao */
  background-color:white;
  justify-content: center;
}
#Time li
.number{
  font-size: 16px;
}
#Time li
.label {
  font-size: 11px;
}
#Time{
  
}








